[submodule "Ingenierie_Graphique/IG2-Traitement_Analyse_Image/labs-benoit-davy"]
	path = Ingenierie_Graphique/IG2-Traitement_Analyse_Image/labs-benoit-davy
	url = https://github.com/ESIEECourses/labs-benoit-davy.git
[submodule "Ingenierie_Graphique/IG2-Traitement_Analyse_Image/labs-jules"]
	path = Ingenierie_Graphique/IG2-Traitement_Analyse_Image/labs-jules
	url = https://github.com/ESIEECourses/labs-jules.git
[submodule "RV"]
	path = RV
	url = https://github.com/LelayJ-ESIEE/RV.git
[submodule "INformatique/IN3-Developpement_mobile/Livrable/TopQuizOnline"]
	path = INformatique/IN3-Developpement_mobile/Livrable/TopQuizOnline
	url = https://github.com/LelayJ-ESIEE/TopQuizOnline.git
